<!-- <router-outlet></router-outlet> -->
<div class="main">
  <form [formGroup]="userForm">
    <!-- User section -->
    <div class="user-info">
      <h3>Sign Up</h3>
      <div>
        <div class="mb-3">
          <label class="form-label">First Name*</label>
          <input formControlName="firstName" type="text" class="form-control">
          <div [hidden]="userForm.controls.firstName.valid || userForm.controls.firstName.pristine" class="text-danger">
            First Name is required
          </div>

        </div>
        <div class="mb-3">
          <label class="form-label">Last Name*</label>
          <input formControlName="lastName" type="text" class="form-control">
          <div [hidden]="userForm.controls.lastName.valid || userForm.controls.lastName.pristine" class="text-danger">
            Last Name is required
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Username*</label>
          <input formControlName="username" type="text" class="form-control">
          <div [hidden]="userForm.controls.username.valid || userForm.controls.username.pristine" class="text-danger">
            Username is required
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Email*</label>
          <input formControlName="email" type="text" class="form-control">
          <div [hidden]="userForm.controls.email.valid || userForm.controls.email.pristine" class="text-danger">
            Email is required
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Brand Name*</label>
          <input formControlName="brandName" type="text" class="form-control">
          <div [hidden]="userForm.controls.brandName.valid || userForm.controls.brandName.pristine" class="text-danger">
            Brand name is required
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Department*</label>
          <input formControlName="department" type="text" class="form-control">
          <div [hidden]="userForm.controls.department.valid || userForm.controls.department.pristine"
            class="text-danger">
            Department name is required
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Mobile Number</label>
          <input formControlName="mobileNumber" type="text" class="form-control">
          <div [hidden]="userForm.controls.mobileNumber.valid || userForm.controls.mobileNumber.pristine"
            class="text-danger">
            Mobile number is required
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Telephone Number*</label>
          <input formControlName="telephoneNumber" type="text" class="form-control">
          <div [hidden]="userForm.controls.telephoneNumber.valid || userForm.controls.telephoneNumber.pristine"
            class="text-danger">
            Telephone number is required
          </div>
        </div>
      </div>
    </div>

    <div class="sec-2">
      <!-- Delivery section -->
      <div class="delivery-info">
        <h3>Delivery Address</h3>
        <div>
          <div class="mb-3">
            <label class="form-label">Name*</label>
            <input formControlName="deliveryName" type="text" class="form-control">
            <div [hidden]="userForm.controls.deliveryName.valid || userForm.controls.deliveryName.pristine"
              class="text-danger">
              Delivery name is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Street Address*</label>
            <input formControlName="deliveryStreet" type="text" class="form-control" id="exampleInputPassword1">
            <div [hidden]="userForm.controls.deliveryStreet.valid || userForm.controls.deliveryStreet.pristine"
              class="text-danger">
              Delivery street is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">House Nr*</label>
            <input formControlName="deliveryHouseNr" type="text" class="form-control">
            <div [hidden]="userForm.controls.deliveryHouseNr.valid || userForm.controls.deliveryHouseNr.pristine"
              class="text-danger">
              Delivery house number is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Postcode*</label>
            <input formControlName="deliveryPostcode" type="text" class="form-control">
            <div [hidden]="userForm.controls.deliveryPostcode.valid || userForm.controls.deliveryPostcode.pristine"
              class="text-danger">
              Delivery postcode is required
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">City*</label>
            <input formControlName="deliveryCity" type="text" class="form-control">
            <div [hidden]="userForm.controls.deliveryCity.valid || userForm.controls.deliveryCity.pristine"
              class="text-danger">
              City is required
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Country*</label>
            <input formControlName="deliveryCountry" type="text" class="form-control">
            <div [hidden]="userForm.controls.deliveryCountry.valid || userForm.controls.deliveryCountry.pristine"
              class="text-danger">
              Country is required
            </div>
          </div>
        </div>

        <input type="checkbox" formControlName="checkbox">
        <label>Billing Details</label>
      </div>

      <!-- Billing details -->
      <div *ngIf="userForm.value.checkbox" class="billing-info">
        <h3>Billing Address</h3>
        <div>
          <div class="mb-3">
            <label class="form-label">Name*</label>
            <input formControlName="billingName" type="text" class="form-control">
            <div [hidden]="userForm.controls.billingName.valid || userForm.controls.billingName.pristine"
              class="text-danger">
              Billing Name is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Street Address*</label>
            <input formControlName="billingStreet" type="password" class="form-control" id="exampleInputPassword1">
            <div [hidden]="userForm.controls.billingStreet.valid || userForm.controls.billingStreet.pristine"
              class="text-danger">
              Billing street is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">House No*</label>
            <input formControlName="billingHouseNr" type="text" class="form-control">
            <div [hidden]="userForm.controls.billingHouseNr.valid || userForm.controls.billingHouseNr.pristine"
              class="text-danger">
              Billing house no is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Postcode*</label>
            <input formControlName="billingPostcode" type="text" class="form-control">
            <div [hidden]="userForm.controls.billingPostcode.valid || userForm.controls.billingPostcode.pristine"
              class="text-danger">
              Billing postcode is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">City*</label>
            <input formControlName="billingCity" type="text" class="form-control">
            <div [hidden]="userForm.controls.billingCity.valid || userForm.controls.billingCity.pristine"
              class="text-danger">
              Billing city is required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Country*</label>
            <input formControlName="billingCountry" type="text" class="form-control">
            <div [hidden]="userForm.controls.billingCountry.valid || userForm.controls.billingCountry.pristine"
              class="text-danger">
              Billing country is required
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sec-3">
      <h3>Contact Person</h3>
      <div class="contact-main" formArrayName="contactPersons">
        <div class="sub-form" *ngFor="let contactPerson of contactPersons.controls; let i = index" [formGroupName]="i">
          <div class="mb-3">
            <label for="name{{i}}" class="form-label">Name*</label>
            <input id="name{{i}}" formControlName="name" type="text" class="form-control">
            <div *ngIf="contactPerson.get('name')?.hasError('required') && contactPerson.get('name')?.touched"
              class="text-danger">
              Name is required
            </div>

          </div>
          <div class="mb-3">
            <label for="telephone{{i}}" class="form-label">Telephone*</label>
            <input id="telephone{{i}}" formControlName="telephone" type="text" class="form-control">
            <div *ngIf="contactPerson.get('telephone')?.hasError('required') && contactPerson.get('telephone')?.touched"
              class="text-danger">
              Telephone is required
            </div>

          </div>
          <div class="mb-3">
            <label for="mobile{{i}}" class="form-label">Mobile*</label>
            <input id="mobile{{i}}" formControlName="mobile" type="text" class="form-control">
            <div *ngIf="contactPerson.get('mobile')?.hasError('required') && contactPerson.get('mobile')?.touched"
              class="text-danger">
              Mobile number is required
            </div>

          </div>
          <div class="mb-3">
            <label for="email{{i}}" class="form-label">Email*</label>
            <input id="email{{i}}" formControlName="email" type="text" class="form-control">
            <div *ngIf="contactPerson.get('email')?.hasError('required') && contactPerson.get('email')?.touched"
              class="text-danger">
              Email is required
            </div>

          </div>
          <div class="mb-3">
            <label for="country{{i}}" class="form-label">Country*</label>
            <input id="country{{i}}" formControlName="country" type="text" class="form-control">
            <div *ngIf="contactPerson.get('country')?.hasError('required') && contactPerson.get('country')?.touched"
              class="text-danger">
              Name is required
            </div>
            <button *ngIf="i>0" class="btn-remove" (click)="removeContactPerson(i)">Remove</button>
          </div>
        </div>
        <button class="btn btn-primary btn-add" (click)="addContactPerson()">Add</button>
      </div>
    </div>
    <button (click)="submitForm()" class="btn btn-primary btn-submit">Submit</button>
  </form>
</div>